* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.main-content {
  /* background-color: green; */
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hero-section {
  max-width: 1400px;
  min-height: 500px;
  background-image: url('./assets/hero-small.png');
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-text-content {
  width: 300px;
  margin-top: 6rem;
  line-height: 1.2rem;
}

.hero-text-content h1 {
  margin-bottom: 1rem;
  line-height: 3rem;
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: solid 1px #fff;
  border-radius: 5px;
}

.form .search-input {
  flex: 2;
  width: 500px;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0.5rem;
}

.form .search-input:focus {
  outline: none;
}

.form .search-input::placeholder {
  color: #fff;
}

.menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  align-self: center;
  margin-right: 1rem;
  cursor: pointer;
}

.signin {
  cursor: pointer;
}

.menu-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;

  background-color: #b9a9ac;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #DE274F;
}

.rating {
  /* border: solid 1px red; */
  margin-bottom: 1rem;
}

.rating .badge {
  background-color: rgb(88, 88, 7);
  color: #000;
  padding: 0.2rem;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 1rem;
}

.rating .percentage {
  margin-left: 2rem;
}

.watch-trailer {
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #DE274F;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #DE274F;
  cursor: pointer;
  margin-top: 1rem;
}

.main {
  padding: 3rem 0;
}

.main-content-header {
  padding: 1rem 0;
}

.main-content-movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 4rem;
  /* width: 100vw;
  height: 100vh; */
  background-color: rgba(65, 61, 61, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Media Query */
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/

  .container {
    width: 90%;
    /* margin: 0 auto; */
  }

  .hero-section {
    width: 100vw;
    height: 200px;
  }

  .hero-text-content {
    width: 100%;
    margin-top: 3rem;
  }

  .hero-text-content h1 {
    margin-bottom: 1rem;
    line-height: 3rem;
    font-size: 3rem;
  }

  nav {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .logo-section {
    width: 100%;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
  }

  .signin {
    display: none;
  }

  .menu-icon-container {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: solid 1px #fff;
    border-radius: 5px;
  }

  .form .search-input {
    width: 100%;
  }

  .main-content-movies {
    flex-wrap: wrap;
    gap: 4rem;
  }

}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  .hero-text-content {
    width: 100%;
    margin-top: 3rem;
  }

  .hero-text-content h1 {
    margin-bottom: 1rem;
    line-height: 3rem;
    font-size: 3rem;
  }

  nav {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .logo-section {
    width: 100%;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
  }

  .signin {
    display: none;
  }

  .menu-icon-container {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: solid 1px #fff;
    border-radius: 5px;
  }

  .form .search-input {
    width: 100%;
  }

  .main-content-movies {
    flex-wrap: wrap;
    gap: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/

  .hero-text-content {
    width: 100%;
    margin-top: 3rem;
  }

  .hero-text-content h1 {
    margin-bottom: 1rem;
    line-height: 3rem;
    font-size: 3rem;
  }

  nav {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .logo-section {
    width: 100%;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
  }

  .signin {
    display: none;
  }

  .menu-icon-container {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: solid 1px #fff;
    border-radius: 5px;
  }

  .form .search-input {
    width: 100%;
  }

  .main-content-movies {
    flex-wrap: wrap;
    gap: 4rem;
  }
}